
@{
    ViewBag.Title = "开始";
}

<h1>你好！世界<small>这是老子的第一个BootStrap学习界面</small></h1>
<p>
    欢迎来到极客学院，也希望大家能够在BootStrap中文网更好的学习BootStrap
</p>
<ol>
    <li>起步</li>
    <li>
        全局CSS样式
        <ol>
            <li>@Html.ActionLink("栅格系统", "Grid", "Overall", new { Area = "BootStrap" }, htmlAttributes: new { id = "gridLink" })</li>
            <li>@Html.ActionLink("排版", "Header", "Overall", new { Area = "BootStrap" }, htmlAttributes: new { id = "headerLink" })</li>
            <li>@Html.ActionLink("代码", "Code", "Overall", new { Area = "BootStrap" }, htmlAttributes: new { id = "codeLink" })</li>
            <li>@Html.ActionLink("表格", "Table", "Overall", new { Area = "BootStrap" }, htmlAttributes: new { id = "tableLink" })</li>
            <li>@Html.ActionLink("表单", "Form", "Overall", new { Area = "BootStrap" }, htmlAttributes: new { id = "formLink" })</li>
            <li>@Html.ActionLink("按钮", "Button", "Overall", new { Area = "BootStrap" }, htmlAttributes: new { id = "buttonLink" })</li>
            <li>@Html.ActionLink("图片", "Image", "Overall", new { Area = "BootStrap" }, htmlAttributes: new { id = "imageLink" })</li>
            <li>@Html.ActionLink("辅助", "Assist", "Overall", new { Area = "BootStrap" }, htmlAttributes: new { id = "assistLink" })</li>
            <li>@Html.ActionLink("响应式工具", "Responsive", "Overall", new { Area = "BootStrap" }, htmlAttributes: new { id = "responsiveLink" })</li>
        </ol>
    </li>
    <li>
        组件
        <ol>
            <li>@Html.ActionLink("字体图标", "Icon", "Component", new { Area = "BootStrap" }, htmlAttributes: new { id = "iconLink" })</li>
            <li>@Html.ActionLink("下来菜单", "Dropdown", "Component", new { Area = "BootStrap" }, htmlAttributes: new { id = "dropdownLink" })</li>
            <li>@Html.ActionLink("按钮组", "ButtonGroups", "Component", new { Area = "BootStrap" }, htmlAttributes: new { id = "buttongroupsLink" })</li>
            <li>@Html.ActionLink("按钮式下拉菜单", "ButtonDropdown", "Component", new { Area = "BootStrap" }, htmlAttributes: new { id = "buttondropdownLink" })</li>
        </ol>
    </li>
</ol>

